//-------------------------------   FONTS   ----------------------------------------

$font--josefin : 'Josefin Sans', sans-serif;
$font--caramello: 'Caramello';

@font-face{
    font-family: 'Caramello';
    src: url(Caramello.ttf);
}