@font-face {
  font-family: 'Caramello';
  src: url(Caramello.ttf); }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 43.75%; } }

body {
  width: 100%;
  font-family: "Josefin Sans", sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

button {
  font-family: "Josefin Sans", sans-serif; }

.heading--1 {
  font-size: 9rem; }

.heading--2 {
  font-size: 6.5rem; }

.heading--3 {
  font-size: 5rem; }

.heading--4 {
  font-size: 4.2rem; }

.heading--5 {
  font-size: 3.5rem; }

.heading--6 {
  font-size: 2.75rem; }

.paragraph--1 {
  font-size: 2.5rem; }

.paragraph--2 {
  font-size: 2.25rem; }

.paragraph--3 {
  font-size: 2rem; }

.paragraph--4 {
  font-size: 1.75rem; }

.paragraph--5 {
  font-size: 1.6rem; }

.paragraph--6 {
  font-size: 1rem; }

.cart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: none; }
  .cart__shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5); }
  .cart__container {
    position: absolute;
    z-index: 1002;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    width: 40rem;
    height: 100%;
    background-color: #fff;
    padding: 2rem; }
    @media only screen and (max-width: 20em) {
      .cart__container {
        width: 100%; } }
    .cart__container--heading {
      text-align: center;
      margin-bottom: 2rem;
      color: #333333; }
  .cart__close {
    height: 3rem;
    width: 3rem;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
  .cart__products {
    position: relative;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
  .cart__product {
    margin-top: 2rem;
    color: #444444; }
    .cart__product--name {
      text-align: center; }
    .cart__product--grid {
      display: grid;
      grid-template-columns: 15rem 1fr;
      grid-auto-rows: auto;
      margin: 2rem 0;
      grid-gap: 2rem; }
    .cart__product--imagebox {
      position: relative;
      width: 100%;
      height: 21.7rem;
      padding: 3rem 1rem;
      background-color: #fcf8f7;
      display: flex;
      align-items: center;
      justify-content: center; }
    .cart__product--image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      height: auto;
      transition: .4s ease-in-out; }
      .cart__product--image--1 {
        opacity: 1; }
      .cart__product--image--2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0; }
    .cart__product--section {
      height: 100%;
      width: 100%;
      position: relative; }
    .cart__product--price {
      margin-bottom: 1rem; }
    .cart__product--quantity {
      display: flex;
      align-items: stretch;
      width: min-content;
      border: 1px solid #ebebeb; }
      .cart__product--quantity__minus, .cart__product--quantity__plus {
        cursor: pointer;
        padding: .25rem .5rem; }
      .cart__product--quantity__number {
        padding: 0 1rem;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center; }
  .cart__final {
    margin: 2rem 0 0;
    color: #444444;
    text-align: center; }
    .cart__final--heading {
      margin-bottom: 1.25rem; }
    .cart__final--price {
      margin-bottom: 2rem; }
    .cart__final--checkout {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      text-align: center;
      display: flow-root;
      width: 100%;
      padding: 1.75rem 0;
      border: 0;
      border-radius: 3px;
      background-color: #444444;
      color: #fff; }
      .cart__final--checkout:focus {
        outline: 0; }

.header {
  padding: 0 5rem;
  position: relative;
  top: 0;
  width: 100%;
  height: fit-content;
  transition: all .4s ease-in-out 0s;
  z-index: 10;
  background-color: #feebe7; }
  @media only screen and (max-width: 28.125em) {
    .header {
      padding: 0 2rem; } }
  .header__top {
    position: relative;
    height: 11rem; }
    .header__top--cart {
      height: 2.8rem;
      width: 2.8rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: none;
      cursor: pointer;
      fill: black; }
      @media only screen and (max-width: 28.125em) {
        .header__top--cart {
          display: block; } }
    .header__top--logo {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 2rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__top--logo__link {
        height: 100%; }
      .header__top--logo__image {
        height: 100%;
        width: unset;
        object-fit: contain; }
    .header__top--iconbox {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 2.8rem;
      width: fit-content;
      display: flex;
      justify-content: center; }
    .header__top--icon {
      height: 100%;
      width: 2.8rem;
      cursor: pointer;
      fill: #000; }
      .header__top--icon__search {
        margin-right: 2.8rem; }
        @media only screen and (max-width: 28.125em) {
          .header__top--icon__search {
            margin-right: 1rem; } }
      .header__top--icon__account {
        margin-right: 1rem; }
      .header__top--icon__logout {
        display: none; }
  .header__menu {
    height: 4.5rem;
    width: 100%;
    position: relative; }
    @media only screen and (max-width: 28.125em) {
      .header__menu {
        display: none; } }
    .header__menu--list {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex; }
    .header__menu--item {
      height: 100%; }
    .header__menu--link {
      margin-left: 1.6rem;
      margin-right: 1.6rem;
      padding-bottom: 3.2rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #444444;
      letter-spacing: 1px;
      font-weight: normal;
      backface-visibility: hidden; }
    .header__menu--link:hover .header__menu--dropdown {
      transform: rotateZ(90deg); }
    .header__menu--dropdown {
      height: 2rem;
      width: 2rem;
      margin-left: .75rem;
      transform-origin: center center;
      transition: all .4s ease-in-out 0s; }
    .header__menu--cart {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0; }

.dropdown {
  text-decoration: none;
  color: #444444;
  display: block;
  position: absolute;
  top: 15rem;
  z-index: 10000000000000;
  width: 100%;
  visibility: hidden; }
  .dropdown__column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    color: #444444; }
    .dropdown__column--list {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .dropdown__column--listItem a {
      color: #444444;
      margin-top: 1rem; }

.shop-dropdown {
  text-decoration: none;
  color: #444444;
  display: block;
  position: absolute;
  top: 15rem;
  z-index: 10000000000000;
  width: 100%;
  visibility: hidden; }
  .shop-dropdown__column {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
    justify-content: center; }
    .shop-dropdown__column--list a {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 1rem;
      margin-bottom: 1rem;
      justify-items: center;
      justify-content: center; }

.products-dropdown {
  text-decoration: none;
  color: #444444;
  display: block;
  position: absolute;
  top: 15rem;
  z-index: 10000000000000;
  width: 100%;
  visibility: hidden; }
  .products-dropdown__column--listItem a {
    display: flex;
    justify-content: center;
    color: #444444; }

.tv-dropdown {
  text-decoration: none;
  color: #444444;
  display: block;
  position: absolute;
  top: 15rem;
  z-index: 10000000000000;
  width: 100%;
  text-align: center;
  visibility: hidden; }

.links-dropdown {
  text-decoration: none;
  color: #444444;
  display: block;
  position: absolute;
  top: 15rem;
  z-index: 10000000000000;
  width: 100%;
  visibility: hidden; }
  .links-dropdown__column {
    display: flex;
    justify-content: center; }
    .links-dropdown__column--list {
      margin-top: 2rem;
      margin-right: 3rem; }
    .links-dropdown__column--listItem a {
      color: #444444;
      margin-top: 2rem;
      margin-bottom: 1rem; }

.select {
  padding: 1rem;
  border: none;
  background-color: rgba(254, 235, 231, 0.95);
  transition: .3s ease;
  visibility: visible; }

.checkout {
  padding: 10rem 5rem; }
  .checkout__heading {
    text-align: center;
    margin-bottom: 5rem; }
  .checkout__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 3rem;
    justify-content: center; }
  .checkout__cart {
    position: relative; }
  .checkout__title {
    width: 100%;
    padding: .9rem 0 1rem 1rem;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; }
  .checkout__product {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-gap: 5rem;
    grid-auto-rows: auto;
    justify-content: center;
    position: relative;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .checkout__productClose {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 10rem;
    background-color: #cccccc;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center; }
  .checkout__imagebox {
    height: 100%;
    position: relative;
    width: 100%;
    background-color: #fcf8f7;
    padding: 3rem; }
  .checkout__image {
    object-fit: cover;
    width: 100%;
    object-position: center center; }
  .checkout__productDetails {
    position: relative; }
  .checkout__productName {
    font-weight: 400;
    color: #444;
    margin-bottom: 1.5rem;
    display: inline-block; }
  .checkout__productAttributes {
    color: #444;
    font-weight: 400;
    margin-bottom: 1.5rem; }
  .checkout__productPrice {
    color: #444;
    font-weight: 400;
    margin-bottom: 1.5rem; }
  .checkout__productQuantity {
    color: #444;
    display: flex;
    align-items: center;
    border: 1px solid #444444;
    width: min-content;
    margin-bottom: 2rem;
    background-color: #fff; }
    .checkout__productQuantity--minus {
      padding: 1.5rem;
      cursor: pointer; }
    .checkout__productQuantity--number {
      padding: 1.5rem 0;
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      background-color: #ccc;
      color: #000;
      width: 6rem;
      display: flex;
      justify-content: center; }
    .checkout__productQuantity--add {
      padding: 1.5rem;
      cursor: pointer; }
  .checkout__productTotalPrice {
    color: #444444; }
  .checkout__order {
    position: relative;
    width: 100%; }
  .checkout__subTotal {
    display: flex;
    color: #444;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .checkout__taxes {
    margin-bottom: 1rem; }
  .checkout__button {
    text-align: center;
    display: flow-root;
    width: 100%;
    padding: 1.75rem 0;
    border: 0;
    border-radius: 3px;
    background-color: #444444;
    color: #fff;
    text-transform: uppercase; }

/*.footer{
    width: 100%;
    padding: 5rem 7rem 8rem;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    @media only screen and (max-width: 48em){
        padding: 5rem 1rem 8rem;
        grid-gap: 2rem;
    }

    @media only screen and (max-width: 28.125em){
        grid-template-columns: 1fr;
        padding: 3rem 1rem 3rem;
    }

    &__paragraph{
        font-weight: normal;
    }
    &__store{
        width: 100%;
        position: relative;

        @media only screen and (max-width: 28.125em){
            grid-row: 3/4;
        }

        &--heading{
            margin-bottom: 2rem;
        }
        &--copyrights{
            margin-bottom: 2rem;
            @media only screen and (max-width: 48em){
                line-height: 1.4;
            }
            
        }
        &--payments{
            width: 100%;
            display: flex;

            @media only screen and (max-width: 48em){
                
            }

            &__logo{
                height: 2.2rem;
                width: 3.2rem;
                object-fit: contain;
                object-position: center center;
                &:not(:last-child){
                    margin-right: 1rem;
                }
                &--1{background-color: red;}
                &--2{background-color: green;}
                &--3{background-color: blue;}
                &--4{background-color: #fff;}
                &--5{background-color: yellow;}
            }
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &--heading{
            margin-bottom: 2rem;
        }
        &--link{
            display: inline-flex;
            color: #fff;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
    &__subscribe{
        padding-left: 10rem;

        @media only screen and (max-width: 48em){
            padding-left: 2rem;
        }

        @media only screen and (max-width: 28.125em){
            padding-left: 0;
        }

        &--heading{
            margin-bottom: 2rem;
        }
        &--socialBox{
            display: flex;
        }
        &--link{
            height: 2.5rem;
            width: 2.5rem;
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
        &--icon{
            height: 100%;
            width: 100%;
            fill: #fff;
        }
    }
}*/
.footer-main {
  width: 100%;
  padding: 5rem 7rem 8rem;
  background-color: #000;
  color: #fff; }

.payment-container {
  width: 35rem;
  height: 11rem;
  position: relative; }

.flexx-container {
  display: flex;
  flex-direction: row;
  padding-left: 6rem; }
  .flexx-container--1 {
    border: 1px solid #444444;
    border-radius: 1rem;
    height: 15rem;
    margin-right: 4rem; }
  .flexx-container--2 {
    padding: 4rem; }

.flexx-container--1:hover {
  border: 1px solid white; }

.payment-image {
  width: 4rem;
  margin-right: 1.5rem;
  margin-left: 2rem; }

.paypal-icon {
  position: absolute;
  top: -4.5rem;
  left: 1.5rem;
  width: 14rem;
  padding: 1.1rem;
  background-color: black; }

.footer-payment {
  padding-top: 6rem;
  padding-bottom: 8rem; }

.paypal-image {
  width: 11rem; }

.footer__store {
  font-size: 1.2rem;
  width: 15rem; }

.heading {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #444;
  font-weight: 800; }

.break {
  display: block;
  padding: 0.5rem; }

.footer__info {
  padding: 4rem;
  width: 21rem; }

.footer-info-flex--1 {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  padding-bottom: 0.5rem; }

.footer-info-flex--2 {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  padding-bottom: 0.5rem; }

.footer-info-flex--3 {
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  padding-bottom: 0.5rem; }

.footer__subscribe {
  padding: 4rem; }
  @media only screen and (max-width: 48em) {
    .footer__subscribe {
      padding-left: 2rem; } }
  @media only screen and (max-width: 28.125em) {
    .footer__subscribe {
      padding-left: 0; } }
  .footer__subscribe--heading {
    margin-bottom: 2rem;
    color: #444;
    font-weight: 800; }
  .footer__subscribe--socialBox {
    display: flex; }
  .footer__subscribe--link {
    height: 2.5rem;
    width: 2.5rem; }
    .footer__subscribe--link:not(:last-child) {
      margin-right: 2rem; }
  .footer__subscribe--icon {
    height: 100%;
    width: 100%;
    fill: #fff; }

.order {
  width: 100%;
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  grid-auto-rows: auto;
  justify-content: center;
  color: #444444;
  background-color: #fafafa;
  min-height: 100vh; }
  .order__left {
    padding-top: 3rem;
    padding-left: 5rem;
    background-color: #ffffff;
    position: relative;
    padding-right: 2rem;
    border-right: 1px solid #cccccc; }
  .order__logo {
    height: 63px;
    display: block;
    object-fit: contain;
    margin-bottom: 2rem; }
  .order__form {
    position: relative; }
  .order__heading {
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: "Josefin Sans", sans-serif;
    color: #555555; }
  .order__inputbox {
    position: relative; }
  .order__text {
    padding: 15px 10px 10px;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9 !important;
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    word-break: normal;
    line-height: inherit;
    outline: none;
    position: relative;
    appearance: none;
    margin-bottom: 1rem;
    font-family: "Josefin Sans", sans-serif; }
    .order__text:focus {
      border-color: #444444 !important;
      box-shadow: 0 0 0 1px #444444; }
    .order__text:focus::placeholder {
      opacity: 0;
      font-size: 10px !important;
      font-family: "Josefin Sans", sans-serif; }
  .order__text:focus + .order__inputlabel {
    top: 3px;
    opacity: 1; }
  .order__inputlabel {
    position: absolute;
    top: 15px;
    left: 10px;
    opacity: 0;
    z-index: 25;
    height: fit-content;
    width: fit-content;
    transition: all .2s; }
  .order__selectbox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    position: relative; }
  .order__selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
  .order__label {
    position: absolute;
    top: 3px;
    left: 15px;
    z-index: 25;
    height: fit-content;
    width: fit-content; }
  .order__select {
    padding: 15px 10px 10px;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9 !important;
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    word-break: normal;
    line-height: inherit;
    outline: none;
    position: relative;
    appearance: none;
    margin-bottom: 1rem;
    font-family: "Josefin Sans", sans-serif; }
    .order__select:focus {
      outline: none; }
    .order__select:hover {
      outline: none;
      background-color: #ffffff; }
    .order__select option {
      width: 100%;
      font-family: "Josefin Sans", sans-serif; }
  .order__pin {
    position: relative; }
  .order__buttonbox {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .order__link {
    color: #444444; }
  .order__submit {
    background-color: #2b2b2b;
    color: white;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background-color: #444444;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 20px 30px;
    text-align: center;
    position: relative; }
  .order__right {
    padding-left: 2rem;
    padding-right: 5rem;
    position: relative;
    padding-top: 7.5rem; }
  .order__products {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .order__product {
    margin-bottom: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-gap: 2rem; }
  .order__imagebox {
    position: relative;
    padding: 0 10px;
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    border: 1px rgba(0, 0, 0, 0.1) solid; }
  .order__image {
    position: relative;
    object-fit: contain;
    width: 100%;
    object-position: center center;
    background-color: #fcf8f7;
    padding: 5px 0; }
  .order__paragraph {
    font-weight: 600; }
  .order__quantity {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    color: #fff;
    background-color: #555555;
    border-radius: 10rem;
    height: 25px;
    width: 25px;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center; }
  .order__productDetails {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center; }
    .order__productDetails--right {
      margin-left: 3rem; }
  .order__details {
    font-weight: 300; }
  .order__calculation {
    padding: 3rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; }
  .order__calculate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
    .order__calculate span {
      margin-left: 3rem;
      font-weight: 400;
      color: #444444; }
