.heading{
    &--1{font-size: 4rem;}
    &--2{font-size: 3.5rem;}
    &--3{font-size: 3rem;}
    &--4{font-size: 2.5rem;}
    &--5{font-size: 2.25rem;}
    &--6{font-size: 2rem;}
}

.paragraph{
    &--1{font-size: 1.8rem;}
    &--2{font-size: 1.6rem;}
    &--3{font-size: 1.4rem;}
    &--4{font-size: 1.2rem;}
    &--5{font-size: 1.125rem;}
    &--6{font-size: 1rem;}
}
