*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    font-family: $font--josefin;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    font-family: $font--josefin;
}